@import url('../../../styles/__color.css');

.target-article__info {
  /* border: 1px solid orange; */
  padding: 2% 3%;
  display: grid;
  width: 100%;
  height: 90vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4fr 4fr 1fr;
  grid-template-areas:
    'section section description'
    'section section description'
    'footer footer description';
}
.target-article__image {
  /* border: 1px solid white; */
  grid-area: section;
  width: 100%;
  height: 100%;
}
.target-article__image img {
  /* border: 1px solid pink; */
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.target-article__description {
  /* border: 1px solid red; */
  margin-left: 20px;
  border-radius: 15px;
  background-color: var(--colorBlackHigth);
  color: #ffff;
  grid-area: description;
  padding: 20px 40px;
  font-family: 'Montserrat', sans-serif;
}
.container-buttons__target-article-info {
  /* border: 1px solid red; */
  margin-top: 2.5em;
  display: flex;
  gap: 30px;
}
.target-article__description h2,
h3 {
  margin-bottom: 5%;
  font-size: 0.9em;
}
.target-article__title-description {
  color: #ffff;
  grid-area: footer;
  width: 100%;
  height: 100%;
}
.target-article__footer-container {
  /* border: 1px solid green; */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.container-map__select-target {
  width: 66%;
  height: 35rem;
}
