@import url('../../../styles/__color.css');

.containe-black_info-store {
  height: 100%;
}
.title__store {
  padding-top: 13px;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
}
.container__info-one-store {
  width: 100%;
  height: auto;
  padding: 40px 25px 40px 40px;
  margin-left: 10px;
}
.container__grid__info-one-store {
  width: 97%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 20rem 22rem;
  gap: 2em;
  background-color: var(--colorBlackHigth);
  padding-right: 2rem;
  border-radius: 15px;
}
.container-targets_info-store {
  grid-row: 1/4;
  grid-column: 1/2;
  padding: 3.1rem 0 2rem 2rem;
}
.picture__info-one-store {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 2/3;
  grid-column: 2/3;
}
.information-target__one-tore {
  padding: 40px;
  padding-left: 0;
  font-family: 'Montserrat', sans-serif;
  grid-row: 1/2;
  grid-column: 2/3;
}
.information-target__one-tore h1 {
  margin-bottom: 5%;
  font-size: 1.7em;
}
.information-target__one-tore h2 {
  margin-bottom: 5%;
  font-size: 1.3em;
}
.information-target__one-tore p {
  margin-bottom: 5%;
  font-size: 0.9em;
}
.information-target__one-tore h3 {
  margin-bottom: 3%;
  font-size: 1em;
}
.container-button__one-target {
  width: 100%;
  margin-top: 30px;
  display: flex;
  gap: 40px;
}
.container-map_info-store {
  grid-row: 3/4;
  grid-column: 2/3;
  width: 100%;
  height: 20rem;
}
.containerbox-map_info-store {
  padding: 0 0 0 0;
}
/* responsive design  */
@media screen and (max-width: 639px) {
  .title__store {
    font-size: 2.2em;
  }
  .container__info-one-store {
    padding: 2em 1em;
    height: auto;
  }
  .container__grid__info-one-store {
    width: 100%;
    height: auto;
    display: block;
  }
  .picture__info-one-store {
    height: 20%;
    margin: 1em 0;
    padding: 0.1em;
  }
}
@media screen and (min-width: 640px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1536px) {
}
