@import url('../../../styles/__color.css');

.title__products-services {
  /* border: 1px solid orange; */
  color: var(--colorTitle);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.paragraph__products-services {
  /* border: 1px solid gold; */
  color: var(--colorTitle);
  padding: 0 20rem;
  display: flex;
  text-align: center;
}

/* responsive design  */
@media screen and (max-width: 639px) {
  .title__products-services {
    font-size: 1.5em;
  }
  .paragraph__products-services {
    padding: 0 1em;
  }
}
@media screen and (min-width: 640px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1536px) {
}
