@import url('../../../styles/__color.css');

.title__products-services {
  /* border: 1px solid orange; */
  color: var(--colorTitle);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.paragraph__products-services {
  /* border: 1px solid gold; */
  color: var(--colorTitle);
  padding: 0 20rem;
  display: flex;
  text-align: center;
}
